.quiz--card {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 40px;
  background-color: red;
  gap: 30px;
  padding: 15px;
}

.question {
  text-align: center;
}

.hidden__answer {
  text-align: center;
}

.bookmark--top--right {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-style: none;
}

.hidden {
  display: none;
}

.tags {
  bottom: -10px;
  left: -10px;
  position: relative;
}
