.button__footer {
  display:flex;
  justify-content: center;
  background-color: orange;
    transition:all 0.4s;
    flex-grow: 1;
    height: 48px;
    }
    .button__footer:hover{
    background-color:#EAE3D2;
    }