.sec1 {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 160px;px;
    margin: 40px 40px;

}

.sec2 {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    position: relative;
    padding:160px;
    margin: 40px 40px;

}

.bookmark--top--right  {
    position: absolute;
    top: 0;
    right: 0;

}

.button__show2 {
    width: 250px;
    margin-top: 80px;
    padding: 30px 60px 30px 60px;
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: large;
}

.ask2 {
    font-size: x-large;
    text-align: center;
}

.divx {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
