/*      --padding?
        --margin?
        --width?s
*/
#answer__1 {
    width: 250px;
    margin-top: 40px;
    padding: 30px 60px 30px 60px;
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: large;
}

#answer__2 {
    width: 250px;
    margin-top: 40px;
    padding: 30px 60px 30px 60px;
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: large;
}

#answer__3 {
    width: 250px;
    margin-top: 40px;
    padding: 30px 60px 30px 60px;
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: large;
}

#answer__4 {
    width: 250px;
    margin-top: 40px;
    padding: 30px 60px 30px 60px;
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: large;
}

#answer__5 {
    width: 250px;
    margin-top: 40px;
    padding: 30px 60px 30px 60px;
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: large;
}

.ask {
    font-size: x-large;
    text-align: center;
}

